<mat-card class="mb-3 login-form container-fluid mat-elevation-z2">
  <mat-card-title class="pb-2">{{!newUser?'Create An Account':'Login'}}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" class="d-flex flex-column">
      <ng-container *ngIf="!newUser">
        <div class="row">
          <div class="col ">
            <mat-form-field class="col-12 pb-2" appearance="outline">
              <mat-label>Name</mat-label>
              <input required matInput formControlName="firstName" type="text">
              <mat-error *ngIf="loginForm.controls['firstName'].touched && loginForm.controls['firstName'].invalid">Enter your first name</mat-error>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
      <mat-form-field class="py-2" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput required formControlName="email" type="email" autocomplete="username">
        <mat-error *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">Enter your email address</mat-error>
      </mat-form-field>
      <mat-form-field class="pt-2" appearance="outline">
        <mat-label>Password</mat-label>
        <input required matInput [type]="showPassword?'text':'password'" formControlName="password" type="password" autocomplete="current-password">
        <mat-icon (click)="togglePasswordVisibility()"
          matSuffix>{{showPassword?'visibility':'visibility_off'}}</mat-icon>
          <mat-error *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">Enter your password</mat-error>
      </mat-form-field>
      <mat-error *ngIf="error">{{error}}</mat-error>
    </form>
  </mat-card-content>
  <div class="d-flex flex-wrap justify-content-center">
    <ng-container *ngIf="!newUser; else elseTemplate">
      <div class="d-flex flex-row align-items-center flex-wrap my-2 sign-in-group">
        <p class="mb-0">Already Have An account? </p><button type="button" (click)="newUserChange()" class="btn btn-link ps-1">Sign In</button>
      </div>
      <button type="button" [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block mt-4 col-12" (click)="createNewUser()">Create Account</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button type="button" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg btn-block col-12 " (click)="login()">Sign In</button>
      <div class="d-flex flex-column mt-4 align-items-center">
        <p>Don't have an account?</p>
        <button mat-button (click)="newUserChange()" class=" link-primary">Create one for free!</button>
      </div>
    </ng-template>
  </div>
</mat-card>

