<div class="photobanner">
  <p class="first fs-4"><mat-icon>warning</mat-icon>This application is developed for academic purposes! It's not
    recommended to enter sensitive data!!!<mat-icon>warning</mat-icon></p>
</div>
<div class="position-absolute start-0 translate-start site-logo d-flex align-items-center">
  <app-site-logo></app-site-logo>
  <h2 class="display-5">DS Messenger</h2>
</div>
<div
  class="position-absolute start-50 top-50 translate-middle d-flex justify-content-lg-evenly justify-content-sm-start landing-page-container">
  <div class="contaier-fluid col pe-3">
    <h1 class="display-4 fw-bold"> <span>Communicate</span> with Your Friends in<br> Real Time.</h1>
    <p class="fs-2 mt-2">Create your account today for free and join the <br> greatest chat community.</p>
  </div>
  <app-login-form></app-login-form>
</div>
