@use '@angular/material' as mat;

@include mat.core();

//Custom Pallets

$dsm-primary: mat.define-palette(mat.$indigo-palette);
$dsm-accent: mat.define-palette(mat.$gray-palette);
$dsm-warn: mat.define-palette(mat.$red-palette);

//light theme pallete
$dsm-light-theme: mat.define-light-theme((
  color: (
    primary: $dsm-primary,
    accent: $dsm-accent,
    warn: $dsm-warn,
  )
));

 //TODO : create dark theme pallete

//$homely-dark-theme:mat.define-dark-theme();

// Include theme styles for core and each component used in your app.

@include mat.all-component-themes($dsm-light-theme);
